 /*--------------------------navlinks-------------------------*/

.navbar {
  background: #1b4332;
  backdrop-filter: blur(8px);
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 80px;
}

.nav-links {
  display: flex;
  gap: 50px;
  margin-left:70px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.logo {
  margin-bottom: 0;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  color: #ddd;
}





.nav-link:hover {
  color: #90e0ef;
}
